<table class="table table-bordered" id="search-result">
  <thead>
    <tr><td>Title</td><td>Url</td></tr>
  </thead>
  <tbody>
    <% if(@links) %>
    <% @links.each do |link| %>
    <tr>
      <td><%= link["title"]  %></td>
      <td><%= link["URL"]  %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
